version: "3.9"

services:
  api-tests:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: mtg-api-tests
    volumes:
      - ./allure-results:/app/allure-results

  allure:
    image: frankescobar/allure-docker-service
    ports: 
      - "5050:5050"
    volumes:
      - ./allure-results:/app/allure-results